# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
env/
venv/

# Model weights / exports / logs
runs/
models/
*.pt
*.onnx
*.mlmodel
*.coreml
*.engine

# Datasets (don’t commit raw images/labels)
ml-pipeline/datasets/*/images/
ml-pipeline/datasets/*/labels/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db